<!DOCTYPE html>
<html>
<head>
	<title>Test if input capture works</title>
	<script type="text/javascript" charset="utf-8" src="js/jquery-1.11.1.min.js"></script>
	
	<script type="text/javascript" src="js/grid.js"></script>
	<script type="text/javascript" src="js/version.js"></script>
	<script type="text/javascript" src="js/detector.js"></script>
	<script type="text/javascript" src="js/formatinf.js"></script>
	<script type="text/javascript" src="js/errorlevel.js"></script>
	<script type="text/javascript" src="js/bitmat.js"></script>
	<script type="text/javascript" src="js/datablock.js"></script>
	<script type="text/javascript" src="js/bmparser.js"></script>
	<script type="text/javascript" src="js/datamask.js"></script>
	<script type="text/javascript" src="js/rsdecoder.js"></script>
	<script type="text/javascript" src="js/gf256poly.js"></script>
	<script type="text/javascript" src="js/gf256.js"></script>
	<script type="text/javascript" src="js/decoder.js"></script>
	<script type="text/javascript" src="js/QRCode.js"></script>
	<script type="text/javascript" src="js/findpat.js"></script>
	<script type="text/javascript" src="js/alignpat.js"></script>
	<script type="text/javascript" src="js/databr.js"></script>
	
	<script type="text/javascript" src='renderQRInBrowser.js'></script>
</head>


<body>
	<p>The link below will ask if you want to use <br/> your camera (if it is available) or <br/>select an existing file</p>
	<div id="printImage"></div>
	<br/>
	<input id="selectFile" type="file" accept="image/*" capture>
	<p id="QRvalue"></p>
	
	
	
</body>
</html>